**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.log
**/.venv
**/venv
**/node_modules
**/.expo
**/.expo-shared
**/dist
**/build
**/.git
**/.gitignore
**/.mypy_cache
**/.pytest_cache
**/.coverage
**/coverage
**/.DS_Store
**/Thumbs.db
**/.vscode
**/.idea